* {
    color: #023E8A;
    box-sizing: border-box;
    text-align: center;
    background-color: #CAF0F8;
    font-family: Arial, sans-serif;
    margin: 5px;
}

h1 {
    margin: 40px;
}

a {
    display: inline-block;
    background-color: yellow;
    width: 30%;
    padding: 40px;
    text-decoration: none;
    font-family: Tahoma;
    text-transform: uppercase;
    color: #023E8A;
    background-color: #90E0EF;
    font-size: 15px;
}

a:hover {
    background-color: #023E8A;
    color: white;
}